body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: #197a6c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container {
    text-align: center;
}

p#catfact {
    margin-top: 20px;
    font-size: 18px;
}